/* -- -- Preformateando Documento -- -- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family: "Jet Brains Mono";
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto ;
    overflow: hidden;
}

/* -- -- Fuentes -- -- */
@font-face{
    font-family: "Jet Brains Mono";
    src: url(../fonts/JetBrainsMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* -- -- Header y Nav -- -- */
header{
    width: 100%;
    background-image: url(../img/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 600px;
}

header .contenedor nav{
    margin: 40px 0;
    text-align:  right;
}

header .contenedor nav a{
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
}

header .contenedor nav a:hover{
    border-bottom: 2px solid #fff;
}

header .contenedor .presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto
}

header .contenedor .presentacion .texto{
    border: 2px solid #fff;
    border-radius: 8px;
    text-align: center;
    padding: 20px 60px;
}

header .contenedor .presentacion .texto h1,
header .contenedor .presentacion .texto h2{
    color: #fff;
    margin: 0;
}

/* MAIN */
/* ACERCA DE */
.main .acerca-de .contenedor{
    overflow: visible;
}

.main .acerca-de{
    text-align: center;
}

.main .acerca-de .contenedor .foto{
    margin-top: -75px;
}

.main .acerca-de .contenedor .foto img{
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .2);
}

.main .acerca-de .contenedor .texto{
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .acerca-de .contenedor .texto .titulo{
    font-size: 34px;
    margin-bottom: 40px;
    color: #6499E7;
}