/* -- -- Preformateando Documento -- -- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto ;
    overflow: hidden;
}

/* -- -- Fuentes -- -- */
@font-face{
    font-family: "Jet Brains Mono";
    src: url(../fonts/JetBrainsMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}